//COULEURS//
$green: #2baeb7;
$text-grey: #999;
$pink: #fcced3;

// GENERAL //
a {
  text-transform: none;
  text-decoration: none;
}
*,
div,
p,
a,
span,
input {
  font-family: "Font";
}
button {
  cursor: pointer;
  background-color: $green;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
}
button:hover {
  background: #2699a1 !important;
  transition: 0.3s;
  color: white !important;
}

// HEADER //
.Header {
  // FILTERS //

  .topHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
    padding-top: 10px;
    .logo-vinted {
      cursor: pointer;
      img {
        height: 40px;
      }
    }
    .input-search {
      position: relative;
      margin-bottom: 35px;
      ::placeholder {
        color: #bbb;
      }
      input {
        width: 590px;
        padding-left: 40px;
        background-color: #f5f6f7;
        border-radius: 5px;
        height: 37px;
        border: none;
        outline: none;
        font-size: 16px;
      }
      svg {
        color: #bbb;
        position: absolute;
        width: 1em;
        left: 12px;
        top: 10px;
      }
    }

    .btn-signup-header,
    .btn-login-header,
    .btn-buy-header {
      height: 30px;
      width: 115px;
      border: 1px solid $green;
      font-size: 12px;
    }
    .btn-signup-header,
    .btn-login-header {
      background-color: #fff;
      color: $green;
    }
    .btn-signup-header {
      margin-right: 20px;
    }
  }
}

.search-container {
  max-width: 590px;
  margin-left: 260px;
  margin-bottom: 10px;

  .filters-price {
    display: flex;
    font-size: 12px;
    height: 25px;
    align-items: center;
    justify-content: space-between;
    .checkbox-orderPrice-container {
      display: flex;
      align-items: center;
      .checkbox-order-price {
        .btn-price-order-container {
          margin-left: 12px;
          background-color: #2cb1ba;
          border-radius: 10px;
          width: 42px;
          height: 20px;
          display: flex;
          align-items: center;
          cursor: pointer;
          outline: none;
          position: relative;
          .knob {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            border: 1px solid #666;
            border-radius: 100%;
            position: absolute;
            width: 16px;
            height: 16px;
            transition: left 0.1s ease-in-out 0s;
            font-weight: 700;
            font-size: 11px;
          }
        }
      }
    }
    .filters-price-between {
      display: flex;
      align-items: center;
    }
  }
}

// HERO //
.HeaderHero {
  position: relative;
  .imgFond-hero {
    background-image: url(../src/assets/img/home-hero.jpg);
    height: 455px;
    width: 100%;
    background-position: center;
    background-size: cover;
    svg {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .card-hero {
    width: 415px;
    height: 275px;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    top: 80px;
    left: 80px;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h1 {
      font-size: 34px;
      font-weight: 400;
      font-family: "Font";
    }
    button {
      background-color: $green;
      height: 45px;
      width: 187px;
      border-radius: 4px;
      color: #fff;
      font-size: 16px;
      border: none;
      padding: 0 14px;
      margin-top: 32px;
    }
  }
}

// OFFERS //
.HomeContainer {
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  .notFoundArticles {
    width: 100%;
    text-align: center;
  }
  .card-article {
    margin: 10px 10px;
    width: 235px;
    .owner {
      display: flex;
      align-items: center;
      padding: 10px;
      min-height: 45px;
      svg,
      img {
        color: $text-grey;
        height: 25px;
        width: 25px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 10px;
      }

      span {
        color: $text-grey;
        font-size: 12px;
      }
    }
    .product-picture-infos {
      cursor: pointer;

      img {
        height: 360px;
        width: 235px;
        object-fit: cover;
      }
      .product_size-brand-price {
        display: flex;
        flex-direction: column;
        padding: 8px;
        color: #111;
        font-size: 14px;
        span:first-child {
          margin-bottom: 5px;
        }
        :not(span:first-child) {
          color: $text-grey;
          font-size: 12px;
          margin-bottom: 2px;
        }
      }
    }
  }
}

// ONE OFFER //
.Offer {
  background-color: #eaedee;
  .offerContent {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    .offer-picture {
      img {
        height: 600px;
        width: auto;
        object-fit: cover;
      }
    }
    .offer-infos {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #fff;
      width: 400px;
      border-radius: 5px;
      padding: 40px;
      .infos-offer {
        .price-offer {
          font-size: 24px;
          line-height: 32px;
          color: #111;
        }
        .details-offer {
          list-style: none;
          padding: 0;
          margin: 20px 0;
          li {
            display: flex;
            padding: 2px 0;
            span:nth-child(odd) {
              color: #999;
              font-weight: 100;
            }
            span {
              flex: 1;
              font-size: 14px;
              font-weight: 700;
              text-transform: uppercase;
            }
          }
        }
      }
      .description-offer {
        .name-product {
          font-weight: 700;
        }
        .description {
          color: $text-grey;
          font-size: 14px;
        }
        .offer-user {
          display: flex;
          align-items: center;
          margin: 10px 10px 0 0;

          img,
          svg {
            height: 25px;
            width: 25px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 10px;
          }
        }
      }
      .btn-buy {
        padding: 15px;
        font-size: 16px;
      }
    }
  }
}

// SIGNUP //
.ModalConnexion {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 99;
  background: rgba(17, 17, 17, 0.48);

  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: "Font";
  button {
    margin-top: 15px;
    padding: 5px 15px;
  }
  .form {
    > div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      span {
        font-size: 24px;
      }
      svg {
        color: $text-grey;
        width: 20px;
        height: 20px;
      }
    }

    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 320px;
    max-height: 70vh;
    background: white;
    padding: 35px;
    border-radius: 5px;

    input {
      border: none;
      border-bottom: 1px solid $pink;
      height: 35px;
      margin-bottom: 20px;
      outline: none;
      padding: 2px 0;
      width: 100%;
      ::placeholder {
        color: $text-grey;
      }
    }

    .newLetter-signup {
      width: 100%;
      p {
        font-size: 12px;
        text-align: justify;
      }
      input[type="checkbox"] {
        margin: 0;
        padding: 0;
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
      .check {
        display: flex;
        align-items: center;
        margin: 10px 0;
      }
      span {
        margin-left: 20px;
      }
    }
  }
}
.separator {
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(17, 17, 17, 0.1);
}
